// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form{padding: 20px 0;}
form input{color: #000;line-height: 21px;margin: 10px 0;background-color: transparent;outline: none;border: none;
border-bottom: 1px solid #222;text-align: center;}