<section class="admin-dashboard-body">
<%= stylesheet_link_tag 'admin-stylesheet', :media => 'all' %>
<%= render 'admin/shared/dashboardHeader' %>
<section class="content">
	<section class="left-grid">
		<%= render 'admin/shared/navmenu' %>
	</section>
	<section class="right-grid">
		<h1>Dashboard</h1>
		<div class="content-box">
			<h1>WELCOME TO Dlux</h1>
			<p>What will you like to do?</p>
		</div>

		<div class="content-box">
			<h1>Recent Activity</h1>
			<span>Recently Published</span>
			<ul>
				<li>Dec 1st 2016, 4:13 am EFL Cup: Man Utd and </li>
				<li>Liverpool kept apart in semi-finals</li>
				<li>Dec 1st 2016, 3:49 am Trending Video</li>
    <li>Nov 23rd 2016, 6:33 pm Listen live</li>
    <li>Nov 22nd 2016, 5:06 am Bigsean is Back</li>
    <li>Nov 22nd 2016, 3:01 am 8 Nigerian Music Stars That Have Spent Time in Police Custody</li>
			</ul>
		</div>
		
	</section>
</section>
<%= render 'admin/shared/dashboardFooter' %>
</section>



